body {
  font-family     : helvetica, arial, sans-serif;
  width           : 100%;
  margin          : 0 auto;
}

/* .background {
  background-color: orange;
} */

/* #toolbar_text {
  font-size: 13px;
}

.content_area {
  display        : flex;
  flex-direction : column;
  align-items    : center;  
}

img {
  margin    : 5px auto;
  max-width : 100%;
  height    : auto;
}  

.story_text {
  white-space : pre-line;
  max-width   : 650px;
  margin      : 5px 5px;
  font-family : Calibri;
  line-height : 1.2;
}

#about_text {  
  margin      : 5px 5px;  
}

.about_headings, #credits_text {
  text-align: center;
}

@media (orientation: landscape) {
  .story_text {
    display: none;
  }
  img {    
    margin : 0 auto;
    max-height : 100vh;
  }  
} */