body {
  font-family     : helvetica, arial, sans-serif;
  width           : 100%;
  margin          : 0 auto;
  background-color: burlywood;
}

.content_area {
  display        : flex;
  flex-direction : column;
  align-items    : center;  
}

img {  
  max-width : 100%;
  height    : auto;
}  

.story_text {
  margin      : 5px 5px;  
  white-space : pre-line;  
  font-family : Calibri;
  line-height : 1.2;
  overflow: auto;
}

@media (orientation: landscape) {
  .story_text {
    display: none;
  }
  img {        
    max-height : 100vh;
  }  
  .navbar {
    display: none;
  }
}

#about_title {

}